/* variables */
/* mixins */
/* ------------------- */
* {
    margin: 0;
    padding: 0;
    font-family: raleway, arial;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed !important;
    top: 0;
    width: 100% !important;
    border-radius: 0% !important;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
/* .content {
    padding-top: 150px;
} */
.vl {
    border-left: 1px groove gray;
    height: 40%;
    position: absolute;
    left: 50%;
    margin-left: -2px;
    /* top: 0; */
}

h3 {
    margin-top: 3%;
    margin-bottom: 3%;
}

body {
    background-color: #ffcdd2;
    color: #fff;
    /* background: linear-gradient(100deg, #ef9a9a 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #ffd54f 70%, #4dd0e1 70%); */
    background: rgb(140, 194, 243);
    background: radial-gradient(circle, rgba(140, 194, 243, 1) 55%, rgba(16, 66, 243, 1) 100%);
}

/* ------------------- */
.line-above-nav {
    /* background-color: #e57373; */
    background-color: #3d8adb;
    height: 15px;
    width: 933px;
    margin: auto;
    margin-top: 100px;
    border-radius: 100px 100px 0 0;
}

.nav {
    display: flex;
    height: 50px;
    width: 950px;
    margin: auto;
    align-items: center;
    position: relative;
    z-index: 1;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    background-color: white;
    border-radius: 10px 10px 0 0;
}

.nav:hover {
    transform: scaleY(1.05);
}

.nav .contact-me,
.nav .nav-icons {
    flex: 1;
}

.nav .contact-me a {
    /* color: #e57373; */
    color: #4d94e1;
    text-transform: uppercase;
    transition: 0.4s;
    width: fit-content;
    font-weight: bold;
}

h1 {
    vertical-align: middle !important;
}

.nav .contact-me :hover {
    color: #006064;
    cursor: pointer;
}

.nav ul li {
    display: flex;
    width: fit-content;
    list-style-type: none;
    text-decoration: none;
    margin: 30px;
}

.nav li {
    width: fit-content;
    font-size: small;
    vertical-align: middle;
}

.nav li a:hover {
    /* color: #e57373; */
    color: #4d94e1;
    cursor: pointer;
}

.nav .nav-icons {
    text-align: right;
    margin-right: 30px;
    /* color: #e57373; */
    color: #4d94e1;
}

.nav .nav-icons i {
    margin: 10px;
    transition: 0.4s;
}

.nav .nav-icons i:hover {
    color: #006064;
    cursor: pointer;
}

/* ----- end of nav ----- */
.main-page {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    width: 933px;
    margin: auto;
}

.main-page .banner {
    color: white;
    display: flex;
    width: 100%;
    height: 200px;
    /* background: linear-gradient(170deg, #e57373 70%, #006064 60%); */
    background: linear-gradient(170deg, #4d94e1 55%, rgb(133, 206, 255) 80%);
}

.main-page .banner h1 {
    padding: 15px;
}

.main-page .banner .banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.text {
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
    z-index: 0;
    /* border-bottom: 4px dashed #006064; */
    color: #006064;
}

.skills {
    display: flex;
    flex: 1 1 auto;
    margin: 5%;
    margin-top: auto;
    margin-bottom: auto;
}

.skill {
    width: 150%;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 3%;
}

.main-page .about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
    z-index: 0;
    border-bottom: 2px groove teal;
    /* #5392d6; */
    color: #006064;
}

.experience {
    flex: 1 1 auto;
    margin: 5%;
    /* width: 250px; */
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgb(165, 192, 250), 0 6px 20px rgba(213, 222, 253, 0.947);
    text-align: center;

}

.experience div {
    width: 40%;
    box-shadow: #4d94e1 inset;
}

.journey {
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
    z-index: 0;
    border-bottom: 2px groove teal;
    /* #5392d6; */
    color: #006064;
    /* flex: 1 1 auto; */
}

.education {
    width: 40%;

}

.main-page .about-me p,
.experience-journey p {
    margin: 30px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-page .image-grid {
    display: flex;
    flex-flow: row wrap;
    max-width: fit-content;
    margin: auto;
    margin-bottom: 50px;
}

.main-page .image-grid .grid-image {
    margin: auto;
    flex-basis: 25%;
    margin-top: 25px;
    transition: 0.22s ease-out;
    opacity: 0.85;
}

.main-page .image-grid .grid-image:hover {
    transform: scale(1.03);
    opacity: 1;
    cursor: pointer;
}

.profile-pic img {
    border-radius: 20%;
    /* box-shadow: rgb(200, 200, 200); */
    /* box-sizing: border-box; */
    /* width: 250px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* text-align: center; */
}

.block {
    width: 933px;
    margin: auto;
    display: flex;
    /* height: 250px; */
    height: 150%;
    /* background: linear-gradient(60deg, #e57373 40%, #006064 40%); */

    background: linear-gradient(60deg, #4d94e1 40%, rgb(133, 206, 255) 40%);
    border-bottom: 1px solid #ffffff;
    z-index: 1;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.block .block-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 115px;
    color: white;
}

.block .block-text h3 {
    font-size: 25px;
}

.block .block-text a {
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    color: white;
    margin: 20px;
    height: auto;
    /* border: 2px solid #006064; */
    padding: 8px;
    border-radius: 30px;
    transition: 0.4s;
}

.block .block-text a:hover {
    background-color: #006064;
    cursor: pointer;
    transform: scale(1.2);
    cursor: pointer;
}

.footer {
    width: 933px;
    margin: auto;
    margin-bottom: 100px;
    display: flex;
    /* background-color: #006064; */
    background-color: #4d94e1;
    color: white;
    height: 50px;
    align-items: center;
    border-radius: 0 0 30px 30px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.footer .footer-text {
    flex: 1;
}

.footer .footer-text p {
    margin-left: 30px;
}

.footer .icons-footer {
    margin-right: 30px;
}

.footer .fa-linkedin {
    margin-right: 10px;
}

.footer .fa-linkedin:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.footer .fa-instagram:hover {
    transform: scale(1.1);
    cursor: pointer;
}

a {
    text-decoration: none;
}